<%= form_with(model: scale, local: true) do |form| %>
  <% if scale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scale.errors.count, "error") %> prohibited this scale from being saved:</h2>

      <ul>
      <% scale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vehicle_type %>
    <%= form.text_field :vehicle_type, id: :scale_vehicle_type %>
  </div>

  <div class="field">
    <%= form.label :coeff %>
    <%= form.number_field :coeff, id: :scale_coeff %>
  </div>

  <div class="field">
    <%= form.label :horsepower %>
    <%= form.number_field :horsepower, id: :scale_horsepower %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
