<p id="notice"><%= notice %></p>

<p>
  <strong>Vehicle type:</strong>
  <%= @scale.vehicle_type %>
</p>

<p>
  <strong>Coeff:</strong>
  <%= @scale.coeff %>
</p>

<p>
  <strong>Horsepower:</strong>
  <%= @scale.horsepower %>
</p>

<%= link_to 'Edit', edit_scale_path(@scale) %> |
<%= link_to 'Back', scales_path %>
