<%= form_with(model: fee, local: true) do |form| %>
  <% if fee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fee.errors.count, "error") %> prohibited this fee from being saved:</h2>

      <ul>
      <% fee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :km %>
    <%= form.number_field :km, id: :fee_km %>
  </div>

  <div class="field">
    <%= form.label :vehicle_id %>
    <%= form.text_field :vehicle_id, id: :fee_vehicle_id %>
  </div>

  <div class="field">
    <%= form.label :start_travel %>
    <%= form.datetime_select :start_travel, id: :fee_start_travel %>
  </div>

  <div class="field">
    <%= form.label :arrival_travel %>
    <%= form.datetime_select :arrival_travel, id: :fee_arrival_travel %>
  </div>

  <div class="field">
    <%= form.label :start_adress %>
    <%= form.text_field :start_adress, id: :fee_start_adress %>
  </div>

  <div class="field">
    <%= form.label :arrival_adress %>
    <%= form.text_field :arrival_adress, id: :fee_arrival_adress %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :fee_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
