<p id="notice"><%= notice %></p>

<h1>Fees</h1>

<table>
  <thead>
    <tr>
      <th>Km</th>
      <th>Vehicle</th>
      <th>Start travel</th>
      <th>Arrival travel</th>
      <th>Start adress</th>
      <th>Arrival adress</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fees.each do |fee| %>
      <tr>
        <td><%= fee.km %></td>
        <td><%= fee.vehicle %></td>
        <td><%= fee.start_travel %></td>
        <td><%= fee.arrival_travel %></td>
        <td><%= fee.start_adress %></td>
        <td><%= fee.arrival_adress %></td>
        <td><%= fee.description %></td>
        <td><%= link_to 'Show', fee %></td>
        <td><%= link_to 'Edit', edit_fee_path(fee) %></td>
        <td><%= link_to 'Destroy', fee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fee', new_fee_path %>
