<p id="notice"><%= notice %></p>

<p>
  <strong>Km:</strong>
  <%= @fee.km %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @fee.vehicle %>
</p>

<p>
  <strong>Start travel:</strong>
  <%= @fee.start_travel %>
</p>

<p>
  <strong>Arrival travel:</strong>
  <%= @fee.arrival_travel %>
</p>

<p>
  <strong>Start adress:</strong>
  <%= @fee.start_adress %>
</p>

<p>
  <strong>Arrival adress:</strong>
  <%= @fee.arrival_adress %>
</p>

<p>
  <strong>Description:</strong>
  <%= @fee.description %>
</p>

<%= link_to 'Edit', edit_fee_path(@fee) %> |
<%= link_to 'Back', fees_path %>
