<%= form_with(model: vehicle, local: true) do |form| %>
  <% if vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% vehicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :vehicle_user_id %>
  </div>

  <div class="field">
    <%= form.label :scale_id %>
    <%= form.text_field :scale_id, id: :vehicle_scale_id %>
  </div>

  <div class="field">
    <%= form.label :vehicle_name %>
    <%= form.text_field :vehicle_name, id: :vehicle_vehicle_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
