<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @vehicle.user %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @vehicle.scale %>
</p>

<p>
  <strong>Vehicle name:</strong>
  <%= @vehicle.vehicle_name %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
